# App
NEXT_PUBLIC_APP_URL='http://localhost:3000'

# Node
NODE_ENV='development'

# Logger
LOG_LEVEL='info'

# Database
DATABASE_URL='postgresql://user:pass@127.0.0.1:5432/db'

# Better Auth
BETTER_AUTH_URL='http://localhost:3000'
BETTER_AUTH_SECRET=
