@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-border: var(--border);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
}

:root {
  --radius: 0.625rem;
  --border: oklch(0.922 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
}

.dark {
  --border: oklch(1 0 0 / 10%);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
}
